<!DOCTYPE html>
<html>
    <head>
        <title>URL Shortener</title>
        <meta charset="utf-8">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css">
    </head>
    <body>
        <h1>URL Shortener</h1>
        <form>
            <div class="form-group">
                <input id="urlinput" type="text" name="url" placeholder="Enter URL...">
                <input id="submiturl" type="button" value="Shorten URL">
            </div>
            <div id="output"></div>
            
        </form>
    <script src="/js/index.js"></script>
    </body>
</html>